
*{
    padding: 0;
    margin: 0;
}


#banner{


    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 50px;
}

.title-section{

    font-size:1.8rem;
    font-family: 'Roboto Slab', serif;
    
}

.promo-title{

    font-size: 48px;
    font-weight: 600;
    margin-top: 100px;

}

.play-btn{
    width: 45px;
    margin: 20px;
}

#services{

    padding: 60px 0;

}

.price-service{

    font-size: 3rem;

}

.price-item{

    padding: 20px 0;

}
.services{
    
    padding: 20px;
}

.services h4{
    
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;

}

.title-section::before
{
    content: '';
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}

.lista{

    list-style: none;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
 
    
 

}


#footer{

    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;

}

.footer-box{
    padding: 20px;
}

img{
    max-width: 100%;
}